.education{
    width: 100%;
    display: flex;
    margin: 3rem 0;
}

.abt-me h1 {
  padding: 1rem;
  justify-content: center;
  text-align: center;
  color: darksalmon;
}
.abt-me p {
  text-align: center;
  font-size: 1.3rem;
}
.skills h1 {
    padding: 1rem;
    justify-content: center;
    text-align: center;
    color: darksalmon;
  }
.skills h4 {
  display: flex;
  justify-content: space-between;
}
.skills h2 {
  color: white;
}

.left h3 {
  color: white;
}
.clg h2{
    color: white;
}
.course h2{
    color: white;
}
.education{
    justify-content: space-between;
}

.clg h2{
    text-align: center;
    color: darksalmon;
}
.clg  h3{
    text-align: center;
}
.clg  p{
    text-align: center;
}
.course h2{
    text-align: center;
    color: darksalmon;
}
.course h3{
    text-align: center;
}
.course p{
    text-align: center;
}
.lol h1 {
    padding-top: 1rem;
    justify-content: center;
    text-align: center;
    color: darksalmon;
  }